.loading-component {
  font-size: 60px;
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  justify-content: center;
  color: #007bff;
  margin: 80px auto 20px auto;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
