.search-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.input-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-input {
  width: 85%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 2px solid #007bff;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.search-input:focus {
  border-color: #0056b3;
}

.search-button {
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  display: flex;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 15%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}
.search-button:focus {
  outline: 0;
  border: 0;
}
.search-button:hover {
  background-color: #0056b3;
}

.search-date-wrapper {
  gap: 20px;
}

.search-initial-date,
.search-final-date {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-initial-date > p,
.search-final-date > p {
  margin: 0;
}

.search-date-input {
  height: 30px;
}
