.results-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 4rem 0;
}

.actions {
  display: flex;
  justify-content: space-between;
}
.actions-selectable {
  display: flex;
  gap: 10px;
}

.actions button {
  padding: 10px 20px;
}
.flex-button {
  display: flex;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
