.checkmark {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0;
  border: none;
}
.checkmark:focus {
  outline: none;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.circle.checked {
  background-color: #28a745;
  border-color: #28a745;
}

.check-icon {
  font-size: 20px;
  color: white;
  transform: scale(0);
  animation: checkmark-animation 0.3s forwards;
}

@keyframes checkmark-animation {
  to {
    transform: scale(1);
  }
}
